<div class="d-flex justify-content-center m-4">
    <h3 class="m-2">Añadir analisis</h3>
</div>

<hr>
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=""><i class="bi bi-house-fill"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Añadir análisis </li>
    </ol>
</nav>
<hr>

<div *ngIf="!mensaje" class="container-fluid">
    <div class="d-flex flex-column">
        <hr>
        <div class="d-flex flex-row justify-content-start">
            <div class="d-flex justify-content-center p-2">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="farmID" class="col-form-label fw-bold">ID de la explotación: </label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="farmID" class="form-control" [(ngModel)]="farmID">
                    </div>
                    <div *ngIf="error_farmID" class="m-3">
                        <p class="validacion">
                            {{error_farmID}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <form [formGroup]="analisisForm">
            <div class="d-flex flex-row justify-content-start">
                <div class="d-flex justify-content-center p-2">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="date" class="col-form-label fw-bold">Fecha</label>
                        </div>
                        <div class="col-auto">
                            <input type="date" id="date" class="form-control" formControlName="date">
                        </div>
                        <div *ngIf="(date?.invalid && date?.touched) || (date?.invalid && invalido)" class="m-3">
                            <p class="validacion" *ngIf="date?.errors?.['required']">
                                Este campo es obligatorio.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-row justify-content-start">
                <div class="d-flex justify-content-center p-2">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="analysis_type" class="col-form-label fw-bold">Tipo</label>
                        </div>
                        <div class="col-auto">

                            <select id="analysis_type" class="form-select" formControlName="analysis_type">
                                <option value=""> Seleccionar</option>
                                <option value="WATER">Agua</option>
                                <option value="VEGETABLE">Vegetal</option>
                                <option value="SOIL">Suelo</option>
                            </select>
                        </div>
                        <div *ngIf="(analysis_type?.invalid && analysis_type?.touched) || (analysis_type?.invalid && invalido)" class="m-3">
                            <p class="validacion" *ngIf="analysis_type?.errors?.['required']">
                                Este campo es obligatorio.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-row justify-content-start">
                <div class="d-flex justify-content-center p-2">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="place" class="col-form-label fw-bold">Lugar</label>
                        </div>
                        <div class="col-auto">
                            <select id="place" class="form-select" formControlName="place">
                                <option value=""> Seleccionar</option>
                                <option value="PLOT">Parcela</option>
                                <option value="SAMPLED_BATCH">Lote de muestra</option>
                            </select>
                        </div>
                        <div *ngIf="(place?.invalid && place?.touched) || (place?.invalid && invalido)" class="m-3">
                            <p class="validacion" *ngIf="place?.errors?.['required']">
                                Este campo es obligatorio.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-row justify-content-start">
                <div class="d-flex justify-content-center p-2">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="laboratory" class="col-form-label fw-bold">Laboratorio</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="laboratory" class="form-control" formControlName="laboratory">
                        </div>
                        <div *ngIf="(laboratory?.invalid && laboratory?.touched) || (laboratory?.invalid && invalido)" class="m-3">
                            <p class="validacion" *ngIf="laboratory?.errors?.['required']">
                                Este campo es obligatorio.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="d-flex justify-content-center m-5">
                <a type="button" style="--clr:#1e9bff" class="boton" (click)="addAnalisis(analisisForm.value)">
                    <span> Añadir </span> <i></i></a>
            </div>

        </form>
    </div>
</div>

<p *ngIf="mensaje" class="text-info text-center"> {{mensaje}} <br> <a type="button" (click)="reset()" class="modales">
        Añadir más.</a></p>