
.dropdown-item{
    background-color: #343A40;
    color: #4582ec;
}

.dropdown-item:hover{
    background-color: #343A40;
    color: #3768bd;
}
.inicio{
    color: #4582ec;
}

.inicio:hover{
    color: #3768bd;
}
